
  <!-- Головний банер -->
  <section class="hero">
    <div class="container">
      <h2>Ножі для кожної потреби</h2>
      <p>Вибір найкращих ножів для кухні, туризму та полювання. Дізнайтеся більше про наші продукти.</p>
    </div>
  </section>

<%= link_to 'Вийти', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
