<div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
  <h3 style="color: #2c3e50;">Емайл користувача: <%= @email %></h3>
  <h3 style="color: #2c3e50;">Повідомлення:</h3>
  <p style="font-size: 16px; color: #34495e; background-color: #fff; padding: 15px; border-radius: 4px; border: 1px solid #ecf0f1;">
    <%= @message %>
  </p>
</div>