@import 'pages/home';
@import 'layouts';
@import 'trix';
@import 'product';
@import 'product_form';
@import 'devise';
@import 'cart';
@import 'cart-show';
@import 'order';

*{
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}


h1{
  font-size: 55px;
  margin: 10px 0;
}
h2{
  font-size: 40px;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-weight: 500;
}

.btn_primary{
  padding: 4px 55px 5px 55px;
  text-decoration: none;
  background: #87C232;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn_secondary{
  border: 1px solid #fff;
  padding: 4px 70px 5px 70px;
  font-family: 'Oswald Regular';
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  margin: 40px;

}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


