<div class="products__container container">
  <h1 class="products__title">Products</h1>

  <%= link_to "New product", new_product_path %>

  <div id="products" class="products">
    <% @products.each do |product| %>
      <div class="product-item">
        <%= render product %>   
      </div>
    <% end %>
  </div>
</div>
